* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.taskname {
  margin-top: 5px;
  padding: 5px;
  background-color: beige;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #ddd;
  min-width: 700px;
  width: 50%;
}
/* Tasks.css */
/* .taskname {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
  } */

.completed {
  opacity: 0.5;
  text-decoration: line-through;
  transition: opacity 0.3s, text-decoration 0.8s;
}
.taskbox{
    margin-right: 7px;
}
/* tasks.css */


.taskbox {
  margin-right: 10px;
}

.completed {
  text-decoration: line-through;
  color: #868e96;
}

.delete,
.edit,
.save,
.cancel {
  margin-left: auto;
  border: none;
  background: none;
  cursor: pointer;
}

.delete {
  color: #dc3545;
}

.edit {
  color: #007bff;
  margin-right: 5px;
}

.save {
  color: #28a745;
}

.cancel {
  color: #ffc107;
}
