@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
}
.task-form {
  display: flex;
  justify-content: center;
}

.input-group {
  width: 50%; 
}

.form-control {
  width: 5rem;
  flex-grow: 1;
  border-radius: 4px;
}

.btn {
  border-radius: 0 4px 4px 0;
}

.progress {
  margin: 2rem auto;
  min-width: 500px;
  width: 50%;
  padding: 4px;
  height: auto;
  font-size: 14px;
  color: #2c0236;
}

@media (max-width: 768px) {
  main {
    margin: 20px;
  }
}
